{% extends 'main/base.html' %}
{% load static %}
{% block content %}
            <div class="row">
                {% for member in members %}
                <div class=" col-md-4">
                    <div id="ho_img" class="team_box">
                        <figure><img src="{{member.photo.url}}" alt="#" /></figure>
                        <h3>{{member.name}}</h3>
                        <span>{{member.status}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}