{% extends 'main/base.html' %}
{% block title  %} Jaycees:Teams {% endblock %}
{% block status2 %}active{% endblock %}

{% block content %}
<br>
<div style="width:65%; margin-left: 16%;">
    <h1> <strong style="font-size: 40px;"> Jaycees Devchuli Team throughout the Years</strong> </h1>
    <hr>
{% for post in years %}
<div class="card">
    <div class="card-header">
        Jaycess {{post.year}}
    </div>
    <div class="card-body">
        <h3 class="card-title"><b>TEAM {{post.year}}</b></h3>

        <a href="{% url 'members' post.id %}" class="btn btn-primary">View Full Team</a>
    </div>
</div>
<br>
{% endfor %}
</div>
{% endblock %}