{% extends 'main/base.html' %}
{% block title  %} {{blog.title}} {% endblock %}
{% block content %}
<br>
<div class="yellow_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2><strong style="font-size: 30px;">{{blog.title}}</strong></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left col-md-6 col-xs-12 thumb-contenido">
                    <img class="center-block img-responsive" src="/media/{{blog.thumbnail}}" />
                </div>
                <div class="">
                    {{blog.timestamp}}<br />
                    <strong>{{blog.author.user.username}}</strong>
                    <hr />
                    <p class="text-justify">{{blog.content|safe}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end blog -->
{% endblock %}