{% extends 'main/base.html' %}
{% block title  %} Jaycees:About {% endblock %}
{% block status1 %}active{% endblock %}

{% block content %}
<div style='margin-left: 35px; margin-right: 35px; text-align: center; margin-top: 20px;' >
<h1> <strong style="font-size: 40px;">About Us</strong> </h1>
<hr>
<p>JCI Nepal (नेपाल जेसीज) is a non-profit voluntary membership based organization of young active citizens age 18 to 40
working in Nepal since 1964 for developing the Leadership, Personality and Entrepreneurship skills of young people of
Nepal. Dr Bhekh Bhadur Thapa is the founder President of JCI Nepal (नेपाल जेसीज).</p><br>

<p>We are engaged and committed to creating positive impact in our communities. JCI Nepal is one of the National
Organizations of (JCI) Junior Chamber International. JCI has 120+ National Organizations, 5000+ Local Organizations and
200000+ active members. JCI Nepal has 150 Local Chapters along with 15000 members. JCI Nepal gathers young active
citizens from all sectors of society. We develop our skills, knowledge and understanding to make informed decisions and
take action in our communities. JCI Nepal is the Seventh largest Member Nation of Junior Chamber International.
Currently we are active in almost every parts of Nepal.</p><br>

<p>As globally minded young people, we all have rights, responsibilities and share goals. We find targeted solutions to
local issues benefiting our communities, our world and our future. Embracing new ideas, collaboration and diversity, we
have the passion and courage to address the critical challenges of our time. We are young active citizens all over the
world. Living, communicating, taking action and creating impact in our communities.</p><br>

<p>Do you want to make a difference in your community? Join us on this journey of local action for global impact.
</p>
</div>
{% endblock %}
