{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'img/loading.gif' %}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <div class="header">
        <div class="top_header">
            <div class="container-width">
                <div class="row d_flex">
                    <div class=" col-md-3 col-sm-4">
                        <div class="logo">
                            <a href="{% url 'home' %}">Jaycees</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="select_main">
                            <ul class="top_infomation">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Address : Devchuli, NawalParasi     
                                </li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>
                                    CALL : +977 9847561844
                                </li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)"> EMAIL : devchulijci44@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_midil">
            <div class="container-width">
                <div class="row d_flex">
                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <div class="navbar-area">
                            <nav class="site-navbar">
                                <ul>
                                    <li><a class="{% block status0 %}{% endblock %}" href="{% url 'home' %}">Home</a></li>
                                    <li><a class="{% block status1 %}{% endblock %}" href="{% url 'about' %}">About</a></li>
                                    <li><a class="{% block status2 %}{% endblock %}" href="{% url 'year' %}">Team</a></li>
                                    <li><a class="{% block status3 %}{% endblock %}" href="{% url 'blogindex' %}">News</a></li>
                                    <li><a class="{% block status4 %}{% endblock %}" href="{% url 'events' %}">Events</a></li>
                                    <li><a class="{% block status5 %}{% endblock %}" href="{% url 'contact' %}">Contact us</a></li>
                                </ul>
                                <button class="nav-toggler">
                                    <span></span>
                                </button>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
        {% block content %}
        {% endblock %}
    
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3>About</h3>
                                    <p> We are a humanitarian non profit organization working for a better today 
                                        and tomorrow. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3>Subscribe</h3>
                                    <p>Subscribe with us and stay updated about our coming events. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3>Links</h3>
                                    <ul class="menu_footer">
                                        <li> <a href="{% url 'home' %}">Home</a></li>
                                        <li> <a href="{% url 'about' %}">About Us</a></li>
                                        <li> <a href="{% url 'year' %}"> Team</a></li>
                                        <li> <a href="{% url 'blogindex' %}"> Blog</a></li>
                                        <li> <a href="{% url 'contact' %}"> Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="hedingh3 text_align_left">
                                    <h3>Follow Us</h3>
                                    <ul class="social_icon ">
                                        <li><a href="#"><i class="fa fa-facebook"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"
                                                    aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>© 2020 All Rights Reserved. Design by <a href="#"> SOHO AUTOMATIONS </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
    <script src="{% static 'js/custom.js' %}"></script>
    

</body>

</html>